html {
  font-family: sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.appbar {
	position: fixed !important;
	width: 100% !important;
	height: 50px;
	top: 0;
}
.appbar+div {
	margin-top: 50px;
}
.appbar h1 {
	font-size: 1.4em !important;
}
